<!-- <div class="first">
        hello
    </div>
    <div class="second">
        <form class="myform" action="/users/update/<%=user.id%>" method="post">
            <input class="myinput" type="text" name="fname" value="<%=user.name%>" placeholder="Enter first name"
                required>
            <input class="myinput" type="text" name="lname" value="<%=user.lname%>" placeholder="Enter last name"
                required>
            <input class="myinput" type="email" name="email" value="<%=user.email%>" placeholder="Enter your E-Mail"
                required>
            <button class="p-2" type="submit">Update</button>
        </form>
    </div> -->
<div class="d-flex">
    <div class="card mx-4 my-4 w-25 h-100">
        <img src="/images/ll.avif" class="card-img-top" alt="/images/ll.avif">
        <div class="card-body mx-2">
            <h5 class="card-title h3">
                <%=user.name%>
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
                <%=user.email%>
            </h6>
            <p class="card-text"></p>

            <!-- <a href="#" class="card-link">Card link</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
    <div class="card mx-2 my-4 w-100 h-100">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.Some quick example text to build on the card title and make up the bulk of the card's
                content.Some quick example text to build on the card title and make up the bulk of the card's
                content.Some quick example text to build on the card title and make up the bulk of the card's
                content.Some quick example text to build on the card title and make up the bulk of the card's
                content.Some quick example text to build on the card title and make up the bulk of the card's
                content.Some quick example text to build on the card title and make up the bulk of the
                content.Some quick example text to build on the card title and make up the bulk of the
                content.</p>
            <!-- <a href="#" class="card-link">Card link</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
</div>